@import "seattletimes";

@aspect-ratio: 7/10;
@mobile-aspect-ratio: 7/8;

.outmost {
  margin: 20px auto;
  max-width: 630px;
}

// .aspect-ratio-outer {
//   margin: auto;
//   position: relative;

//   @media @mobile {
//     width: 100%;
//     padding: 0;
//   }

//   .aspect-ratio-inner {
//     padding-bottom: percentage(@aspect-ratio);
//     position: relative;

//     @media @mobile {
//       padding-bottom: percentage(@mobile-aspect-ratio);
//     }
//   }

//   leaflet-map {
//     position: absolute;
//     background: white;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     &:not([ready]) {
//       display: none;
//     }
//   }
// }

.info {
  margin: auto;
}

.year {
  font-family: @df-sans;
  font-size: 36px;
  background: @df-dark-gray;
  color: white;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 2px;
  width: 120px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;

  @media @mobile {
    font-size: 28px;
    width: 100px;
  }
}
.desc {
  color: @df-middle-gray;
}

.source {
  margin-top: 30px;
  font-family: @df-sans;
  font-size: 11.5px;
  color: #999;
  text-align: right;

  @media @mobile {
    position: relative;
  }

  .credit {
    font-style: normal;
    font-size: 95%;
    text-transform: uppercase;
    display: block;
  }
}

.legend-label {
  font-size: 13px;
  // font-weight: bold;
  font-family: @df-sans;

  @media @mobile {
    // display: none;
  }
}

.legend {
  font-family: @df-sans;
  padding-top: 5px;
  .display-flex;

  @media @mobile {
    // display: none;
  }
}
.swatch {
  .flex(1);
  height: 10px;

  .number {
    white-space: nowrap;
    font-weight: normal;
    font-size: 12px;
    padding-top: 14px;
    text-align: center;
    margin: auto;
    font-weight: bold;

    @media @mobile {
      font-size: 10px;
    }
  }
}


g, path, polyline, polygon {
  &.firstR, &.firstR path, &.firstR polygon {
    fill: #b30000;
  }
  &.secondR, &.secondR path, &.secondR polygon {
    fill: #e34a33;
  }
  &.thirdR, &.thirdR path, &.thirdR polygon {
    fill: #fc8d59;
  }
  &.fourthR, &.fourthR path, &.fourthR polygon {
    fill: #fdbb84;
  }
  &.fifthR, &.fifthR path, &.fifthR polygon {
    fill: #fdd49e;
  }
  &.firstD, &.firstD path, &.firstD polygon {
    fill: #045a8d;
  }
  &.secondD, &.secondD path, &.secondD polygon {
    fill: #2b8cbe;
  }
  &.thirdD, &.thirdD path, &.thirdD polygon {
    fill: #74a9cf;
  }
  &.fourthD, &.fourthD path, &.fourthD polygon {
    fill: #a6bddb;
  }
  &.fifthD, &.fifthD path, &.fifthD polygon {
    fill: #d0d1e6;
  }
  &.tie, &.tie path, &.tie polygon {
    fill: #AAA;
  }
}

#TEXT {
  display: none;
}

.map {
  text-align: center;
}
