<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="outmost">

       <!--  <div class="aspect-ratio-outer">
          <div class="aspect-ratio-inner">
            <leaflet-map lat="47.35" lng="-120.75">
              <tile-layer></tile-layer>
            </leaflet-map>
          </div>
        </div> -->

        <div class="info">
          <div class="year">1968</div>
        </div>


        <div class="map">
          <%= t.include("./assets/normal.svg") %>
          <div class="seattle dot"></div>
          <div class="spokane dot"></div>
<!--           <div class="tacoma dot"></div> -->
          <div class="yakima dot"></div>
          <div class="kennewick dot"></div>
          <div class="olympia dot"></div>
          <div class="tooltip"></div>
        </div>

        <div class="legend-label"><strong>Presidential election results:</strong></div>
        <div>
          <div class="legend-label" style="float: right;"><em>Republican</em></div>
          <div class="legend-label"><em>Democrat</em></div>
        </div>
        <div class="legend">
          <div class="swatch" style="background: #045a8d">
            <div class="number">> 70%</div>
          </div>
          <div class="swatch" style="background: #2b8cbe">
            <div class="number">60%</div>
          </div>
          <div class="swatch" style="background: #74a9cf">
            <div class="number">50%</div>
          </div>
          <div class="swatch" style="background: #a6bddb">
            <div class="number">40%</div>
          </div>
          <div class="swatch" style="background: #d0d1e6">
            <div class="number">< 40%</div>
          </div>
          <div class="swatch" style="background: #AAA">
            <div class="number">Tie</div>
          </div>
          <div class="swatch" style="background: #fdd49e">
            <div class="number">< 40%</div>
          </div>
          <div class="swatch" style="background: #fdbb84">
            <div class="number">40%</div>
          </div>
          <div class="swatch" style="background: #fc8d59">
            <div class="number">50%</div>
          </div>
          <div class="swatch" style="background: #e34a33">
            <div class="number">60%</div>
          </div>
          <div class="swatch" style="background: #b30000">
            <div class="number">> 70%</div>
          </div>
        </div>

        <div class="source">
          <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
        </div>

      </div>
    </responsive-child>

    <script>
    var countyData = <%= JSON.stringify(csv.presidential_vote_by_county) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
